<!DOCTYPE html>
<html>
<head><style>body { font-family: serif; padding: 40px; text-align: center; border: 10px solid gold; }</style></head>
<body>
    {{> header}}  <br><br>
    <h1>CERTIFICADO DE CONCLUSÃO</h1>
    <p>Certificamos que <strong>{{alunoNome}}</strong> concluiu o curso de</p>
    <h2>{{cursoTitulo}}</h2>
</body>
</html>